<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header style="color:#1e51be">Follow me on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="logo-twitter"  style="color:#1e51be" item-start></ion-icon>
      <a style="color: #1e51be; text-decoration: none;" href="http://www.twitter.com/justinbeuck">@justinbeuck</a>
    </ion-item>
  </ion-list>
  <ion-list>
      <ion-list-header style="color:#1e51be">Send me an email </ion-list-header>
      <ion-item>
        <ion-icon name="logo-google"  style="color:#1e51be" item-start></ion-icon>
        <a style="color: #1e51be; text-decoration: none;" href="mailto:justinbeuck@gmail.com">JustinBeuck@gmail.com</a>
      </ion-item>
    </ion-list>
</ion-content>
